#info p {
  font-size: 26pt;
}

#result {
  width: 100%;
  
}

#result p {
  display: inline-block;
  margin-left: 3%;
} 

#header {
  font-size: 50pt;
}

#info p {
  font-size: 20pt;
}

#fetched-text {
  display: inline-block;
}

.succes {
  color: green;
}

.fail {
  color: red;
}

#text {
  display: inline-block;
  place-items: center;
  font-size: 40pt;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.4;
  width: 100%;
  height: 10%;
}

#personal-record {
  text-align: left;
  position: absolute;
  left: 2%;
  bottom: 2%;

  font-size: 15pt;
}
